# Optional file to set variables for the Docker Compose services
# Copy or rename to ".env" and Docker will automatically load the variables

# InfluxDB Configuration
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=changeme-secure-password
INFLUXDB_ORG=home
INFLUXDB_BUCKET=sensors
INFLUXDB_TOKEN=changeme-super-secret-auth-token

# Grafana Configuration
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=changeme-admin-password
